<mat-table fxFlex [dataSource]="dataSource" *ngIf="items?.length">
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container [matColumnDef]="column" *ngIf="column !== 'actions'">
      <mat-header-cell *matHeaderCellDef>{{column | directoryCardTableLabel}}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[column] || ' - ' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions" *ngIf="column === 'actions'">
      <mat-header-cell *matHeaderCellDef fxFlex="100px"></mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="100px">
        <button mat-icon-button color="primary" stopPropagation matTooltip="Редактировать"
                matTooltipClass="default-tooltip" (click)="editDirectory(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" stopPropagation matTooltip="Удалить" matTooltipClass="default-tooltip"
                (click)="deleteDirectory(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row-link"
           (click)="editDirectory(row)"></mat-row>
</mat-table>


<div fxFlex class="default-no-data" *ngIf="!items?.length">
  <span *ngIf="items?.length === 0; else loading">Нет данных</span>
  <ng-template #loading>
    <mat-spinner color="primary" diameter="20" strokeWidth="2" mode="indeterminate"></mat-spinner>
  </ng-template>
</div>
