.profile-card-container {
  height: calc(80vh - 132px);
  overflow: hidden;

  .profile-form {
    max-height: calc(80vh - 192px);
    padding: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

    .profile-row {
      flex-wrap: nowrap;

      .profile-field {
        flex: 1 1 100%;
        max-width: 50%;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    height: calc(80vh - 100px);

    .profile-form {
      max-height: calc(80vh - 152px);
      padding: 12px 8px 0 8px;

      .profile-row {
        flex-wrap: wrap;

        .profile-field {
          min-width: 100%;
        }
      }
    }
  }
}
