<mat-card class="common-theme">
  <mat-card-title>Изменение пароля</mat-card-title>
  <mat-card-content>
    <form role="form" [formGroup]="cardForm" fxLayout="column" fxLayoutGap="8px">
      <mat-form-field>
        <mat-label>Старый пароль</mat-label>
        <input matInput formControlName="oldPassword" required
               [type]="oldPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix color="primary" (click)="oldPasswordHide = !oldPasswordHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPasswordHide">
          <mat-icon>{{oldPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint [controlError]="errors('oldPassword')" [touched]="touched('oldPassword')"></mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Новый пароль</mat-label>
        <input matInput formControlName="newPassword" required
               [type]="newPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix color="primary" (click)="newPasswordHide = !newPasswordHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordHide">
          <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint [controlError]="errors('newPassword')" [touched]="touched('newPassword')"></mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Подтверждение пароля</mat-label>
        <input matInput formControlName="repeatPassword" required
               [type]="repeatPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix color="primary" (click)="repeatPasswordHide = !repeatPasswordHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="repeatPasswordHide">
          <mat-icon>{{repeatPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint [controlError]="errors('repeatPassword')" [touched]="touched('repeatPassword')"></mat-hint>
      </mat-form-field>
      <span class="error-message">
        <mat-error *ngIf="control('newPassword')?.value && control('repeatPassword')?.value &&
        control('newPassword')?.value !== control('repeatPassword')?.value">
          Подтверждение пароля не совпадает
        </mat-error>
      </span>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="8px">
    <button mat-stroked-button type="button" color="primary" mat-dialog-close>Отмена</button>
    <button mat-flat-button type="submit" color="primary" (click)="checkFormAndChangePassword()">Сохранить</button>
  </mat-card-actions>
</mat-card>
