.activity-container {
  overflow: hidden;
  padding: 8px;

  .activity-header {
    width: calc(100vw - 176px);
    padding-right: 12px;
    padding-left: 30px;

    .header-cell {
      background-color: #c8c8c8;
      border-left: 1px solid #e4e4e4;
      width: calc(100% / 7);
      font-size: 1.2em;
      font-weight: 500;
      height: 28px;
    }
  }

  .activity-table {
    height: calc(100vh - 152px);
    overflow: hidden;

    .week-row {
      border-bottom: 1px solid #e4e4e4;
      width: calc(100vw - 188px);
      color: #373c44;
      z-index: 1;

      &.desktop {
        display: flex !important;
      }

      &.mobile {
        display: none !important;
      }

      .week-cell {
        background-color: #f0f0f0;
        cursor: default;
        width: 30px;

        &.day {
          background-color: transparent;
          width: calc(100% / 7);
          border-left: 1px solid #e4e4e4;
          cursor: pointer;

          .day-label {
            background-color: #ebebeb;
            z-index: 3 !important;
            border-radius: 50%;
            font-size: 1.1em;
            padding: 4px;
          }
        }
      }
    }

    .activity-row {
      width: calc(100vw - 217px);
      margin-right: 12px;

      .activity-cell {
        height: calc(100% - (1.1em + 8px));
        padding-top: calc(1.1em + 8px);
        width: calc(100% / 7);
        overflow: auto;

        .cell-0 {
          background-color: #f9a98d;
        }

        .cell-1 {
          background-color: #faf5b3;
        }

        .cell-2 {
          background-color: #c5e2b6;
        }

        .cell-3 {
          background-color: #b8def5;
        }

        .cell-4 {
          background-color: #abb7dd;
        }

        .cell-5 {
          background-color: #c5acd3;
        }

        .cell-6 {
          background-color: #f7aec1;
        }

        span {
          width: calc(100% - 6px);
          border: 1px solid white;
          text-overflow: ellipsis;
          white-space: nowrap;
          border-radius: 8px;
          font-size: 1.1em;
          overflow: hidden;
          cursor: pointer;
          padding: 2px;
          z-index: 2;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .activity-header {
      margin-right: 0;

      .header-cell {
        background-color: #c8c8c8;
        border-left: 1px solid #e4e4e4;
        width: calc(100% / 7);
        font-size: 1.2em;
        font-weight: 500;
        height: 28px;
      }
    }

    .activity-table {
      height: calc(100vh - 158px);

      .week-row {
        width: calc(100vw - 16px);
        margin-right: 0;

        &.desktop {
          display: none !important;
        }

        &.mobile {
          display: flex !important;
        }

        .week-cell.day {
          width: calc((100% - 7px) / 7);
        }
      }

      .activity-row {
        width: calc(100vw - 16px);
        margin-right: 0;

        .activity-cell {
          width: calc((100% - 30px) / 7);

          span {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}


.no-data {
  height: calc(100vh - 152px);

  @media screen and (max-width: 1000px) {
    height: calc(100vh - 158px);
  }
}
