<div fxLayout="column" fxLayoutGap="4px" class="default-activity-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="calendar-row">
    <button mat-icon-button color="primary" type="button" (click)="changeMonth(null, -1)">
      <mat-icon class="head-button-icon">chevron_left</mat-icon>
    </button>

    <ng-container>
      <span class="calendar-label" (click)="currentDatepicker.open()">{{ currentDate | formatDate: monthFormat }}</span>
      <input matInput [matDatepicker]="currentDatepicker" class="display-none" (dateChange)="changeMonth($event)">
      <mat-datepicker #currentDatepicker class="display-none"></mat-datepicker>
    </ng-container>

    <button mat-icon-button color="primary" type="button" (click)="changeMonth(null, 1)">
      <mat-icon class="head-button-icon">chevron_right</mat-icon>
    </button>
  </div>

  <month-activity-card [weekList]="weekList" [monthActivities]="monthActivities$ | async"></month-activity-card>
</div>

<activity-menu [currentDate]="currentDate"></activity-menu>
